.place__paragraph{
    font-size: 18px;
    line-height: 161%;
    font-weight: 400;
    margin: 0 0 26px;
    grid-area: paragraph;
}

.place__paragraph:last-of-type{
    margin-bottom: 0;
}

@media (max-width: 920px){
    .place__paragraph{
        font-size: 16px;
        line-height: 162%;
    }
    .place__paragraph:first-of-type{
        margin-bottom: 25px;
    }
}

@media (max-width: 720px){
    .place__paragraph{
        line-height: 163%;
        margin-left: 16px;
        margin-right: 16px;   
    }    
}

