.cover__title{    
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
    z-index: 1;
}

@media (max-width: 650px){
    .cover__title{
        max-width: 300px;    
        font-size: 41px;
        line-height: 44px;
    }
  }

@media (max-width: 450px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
  }