.footer{
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media (max-width: 1200px){
    .footer{
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 800px){
    .footer{
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width: 700px){
    .footer{
        flex-direction: column;
        margin-top: 64px;
        margin-left: 16px;
        gap: 48px;
        align-items: flex-start;
    }
}